<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @post do |f| %>
  <%= f.text_field :title, placeholder: "Title" %> <br><br>
  <%= f.text_area :body, size: "60x12", placeholder: "Post body" %><br><br>
  <%= f.submit "Create Post" %> <br>
<% end %>

<% end %>
